.albuns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.box {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pagina_inicial {
  justify-content: center;
  display: flex !important;
  flex-flow: row wrap;
}
